/* From GH color scheme, muted */
/* https://primer.style/primitives/colors */

.plain {
  padding: 0.5rem 1rem;
  height: 2.5rem;
  min-width: 6rem;
  border-radius: var(--border-radius);
  font-weight: 300;
}

.plain:hover {
  /* background-color: hsl(0, 0%, var(--switch)); */

  /* TODO: make something similar to --switch but for darkening
  TODO: make something similar to --switch but for tone */
  background-color: hsl(0, 0%, var(--darken));
}

.solid {
  background-color: var(--gray-light);
  color: hsl(0, 0%, var(--switch));
}

.tonal {
  background-color: #d1d5db;
}

.outline {
  color: hsl(0, 0%, var(--switch));
  background-color: white;
  border: var(--border-thickness) solid black;
}

.elevated {
}

.primary {
  background-color: var(--blue-muted);
}

/* TODO: update this, what should it be? need it? */
.secondary {
  background-color: var(--blue-muted);
}

.positive {
  background-color: var(--green-muted);
}

.negative {
  background-color: var(--red-muted);
}

.neutral {
  background-color: var(--gray-light);
}

.attention {
  background-color: var(--orange-muted);
}

/* design tokens */
/* colors: bg-white, bg-grey */
/* borders: thin, thick, radius */
/* whole classes */
/* sizes? */
/* spacing? */
/* emphasis, muted, subtle? */
