@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: "Quicksand", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

:root {
  --color-accent-fg: #0969da;
  --color-accent-muted: rgba(84, 174, 255, 0.4);

  --color-success-fg: #1a7f37;
  --color_success-muted: rgba(74, 194, 107, 0.4);

  /* --gray-light
  --gray-dark
  --gray-medium */
  --blue: #ddf4ff;
  --green: #aceebb;
  --orange: #ffd8b5
  --yellow: #fae17d;
  --red: #ffcecb;

}

/* var(--color-accent-muted) */
/* var(--color-accent-fg) */
/* var(--color-success-fg) */

/* var(--color-neutral-emphasis)
#6e7781 */

/* var(--color-neutral-muted)
rgba(175,184,193,0.2) */